* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: 225, 63, 94;
  --dark-primary-color: 195, 33, 64;
  --bg-gradient: linear-gradient(to left, #e13f5e, #f55372, #ff6786);
  --btn-color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  background: var(--bg-gradient);
}

ul {
  list-style: none;
}

.theme-green {
  --primary-color: 63, 225, 206;
  --dark-primary-color: 33, 195, 176;
  --bg-gradient: linear-gradient(to left, #3fe1ce, #53f5e2, #67fff6);
  --btn-color: rgba(0, 0, 0, 0.8);
}

.header {
  padding: 2rem 4rem;
  background-color: #fff;

  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.header__logo {
  max-width: 10rem;
}

.primary-heading {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary-heading span {
  font-size: 1.5rem;
}

.btn-box {
  gap: 2rem;
}

.btn-custom {
  padding: 0.8rem 2rem;

  background-color: rgb(var(--primary-color));
  border: 0.2rem solid rgb(var(--primary-color));

  font-size: 1.5rem;
  color: var(--btn-color);
  font-weight: 500;

  transition: all 0.2s;
}

.btn-custom:focus {
  box-shadow: none;
}

.btn-custom > i {
  font-size: 1.2rem;
}

.btn-custom:hover {
  background-color: transparent;

  color: rgb(var(--primary-color));
}

.btn-toggle-theme {
  font-size: 2.5rem;
  cursor: pointer;
}

.btn-toggle-theme:hover {
  color: rgb(var(--primary-color));
}

.question-list {
  padding: 1rem 3rem;
  gap: 1rem;

  opacity: 0;

  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

  color: #000;

  top: 100%;
  left: 0;
  z-index: 2;

  transition: all 0.5s;
}

.btn-custom:hover .question-list {
  opacity: 1;
  top: 130%;
}

.btn-open-question {
  white-space: nowrap;
}

.btn-open-question:hover {
  color: rgb(var(--primary-color));
}

.main .question-box {
  display: none;
  gap: 2rem;
}

.step-box {
  padding: 4rem 2rem 2rem;
  border-radius: 0.5rem;
}

.fa-earlybirds {
  font-size: 3.2rem;

  top: 1rem;
  left: 50%;
  transform: translateX(-50%);

  animation: shakeBird 1.5s infinite;
}

@keyframes shakeBird {
  0% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

.form-control {
  font-size: 1.6rem;
}

.form-control:focus {
  border-color: rgb(var(--primary-color), 0.5);
  box-shadow: 0 0 0.5rem rgb(var(--primary-color), 0.5);
}

.card-body .btn-custom {
  padding: 0.5rem 1.5rem;
  color: #000;
}

.card-body .btn-custom:hover {
  color: #000;
  background-color: rgb(var(--dark-primary-color));
}
